<aside class="sidebar">
    <!-- Header con acciones -->
    <div class="sidebar-header">
      <button class="btn-action" (click)="newPlaylist()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        New Playlist
      </button>
      
      <button class="btn-action btn-delete">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <polyline points="3 6 5 6 21 6"></polyline>
          <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
        </svg>
        Delete Playlist
      </button>
    </div>
  
    <!-- Lista de playlists -->
    <nav class="playlist-nav">
      <ul class="playlist-list">
        @if(newPlaylistclicked){
          <div class="overlay"> 
            <form class="playlist-modal" [formGroup]="createPlaylistForm" (ngSubmit)="onSubmit()">
              <input class="form-group">
                <label class="form-label" for="fullName">Playlist Name</label>
                <input 
                  type="text"
                  id = "playlistName"
                  formControlName = "playlistName"
                  placeholder="Unknow"
                />
                <div class="form-group">
                  <label class="form-label" for="playlistDescription">
                    Playlist Description (Optional)
                  </label>
                  <input
                    type = "text"
                    id = "playlistDescription"
                    formControlName = "playlistDescription"
                    placeholder="Add an optional description" 
                  />
                </div>
            </form>
          </div>
        }
      </ul>
    </nav>
  </aside>
